
.cell{
    text-align: center;
 }
 .div{
    width: 90%;
    height: 60%;
 }
 .tablecell{
  width: 100px;
 }
 .inputcss{
    background-color: #ddd;
    outline: none; width: 400px;
    padding: 15px;
    margin: 5px 0 15px 35px;
    border: none;
    background: #f1f1f1;
    align-items: center;
    font-family: "Times New Roman";
    font-size: 18px;
    
  }
  .buttoncss{
   margin-bottom: 10px;
  }
  .form-container{
    height:100% ;
    width: 100%;
  }
  
  /* display: inline-block; */
  .labelcss{
    width: 50px;
    display: inline-block; 
  }
  .addbutton{
    left: 760px;
  }
  .icon{
    margin-top: 10px;
  }